# Visual Studio 2015/2017 cache/options directory
.vs/

# Excluding x64 debug generator path
reconstruction/x64
Reconstruction/x64

# Excluding debug generator path
reconstruction/debug
Reconstruction/debug

#Excluding Debug project
Debug

#exclude images test
reconstruction/Structured_Images/
reconstruction/Export_Result/*.*
reconstruction/Reports
reconstruction/Unstructured_Images